<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <meta charset="UTF-8">
  <title>Enter an item</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content">
  <div class="container mt-4">
    <div class="card border-primary">
      <div class="card-header bg-primary text-white">Enter a new article</div>
      <div class="card-body">
        <form th:action="@{/save}" method="post">
          <input type="hidden" name="id" th:value="${article.id}"/>
          <div class="form-group">
            <label for="brand">Brand</label>
            <input id="brand" class="form-control" type="text" name="brand" th:value="${article.brand}" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input id="description" class="form-control" type="text" name="description" th:value="${article.description}" required>
            <small class="form-text text-danger" th:errors="${article.description}"></small>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input id="price" class="form-control" type="text" name="price" th:value="${article.price}" required>
            <small class="form-text text-danger" th:errors="${article.price}"></small>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
